@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    /* ... */
  }